.myBG {
    height: 100vh;
    background: url(../assets/img/bg/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.intro {
    height: 350px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px white;
}

.trending {
    height: auto;
    background: url(../assets/img/bg/bg.jpg);    
    background-position: center; 
}

.movieWrapper{

}

.movieImage {        
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images{
    height: 500px;    
}

.superhero {
    height: auto;
    background: url(../assets/img/bg/bg.jpg);    
    background-position: center; 
}

